
@import url('https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap');
*{

    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Tenali Ramakrishna", sans-serif;

}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainform{
    height: 70vh;
    width: 25vw;
    background-color: #343A40;
    border-radius: 10px;
    color:white;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;line-height: 2
    ;
}
.heading{
    font-size: 4rem;
}
.input{
    display: flex;
    flex-direction: column;
}
.input input{
    width: 15vw;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
}
.btns{
    width: 30%;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns button{
    width: 100%;
font-size: large;
display: flex;
text-align: center;
justify-content: center;
border-radius: 5px;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.btns button a{
    text-decoration: none;
    color: black;

}